In [4]:
print (123 + 321)

444

In [6]:
print (10)
print (type(10))

10
<class 'int'>

In [8]:
print (3.5)
print (type(3.5))
print (4.)
print (.4)

3.5
<class 'float'>
4.0
0.4

In [10]:
print ("Hactiv8")
print (type("Hactive8"))

Hactiv8
<class 'str'>

In [14]:
print (type(True))
print (type(False))

<class 'bool'>
<class 'bool'>

In [22]:
n = 100

print (n)
n

100

100

In [25]:
a = b = c = 100

print (a, b, c)

100 100 100

In [27]:
var = 15.5
print (var)

var = "Now i'am string"
print (var)

15.5
Now i'am string

In [29]:
#Nama variabel tidak boleh diawali dengan angka

nama = "Hactive8"
age = 20
has_laptop = True

print (nama, age, has_laptop)

Hactive8 20 True

In [35]:
a = 10
b = 5

print (a + b)
print (a - b)
print (a * b)
print (a / b)
print (a % b) #standar pembagian selalu dalam tipe data float walau hasilnya tidak dalam bentuk pecahan
print (a ** b)

15
5
50
2.0
0
100000

In [37]:
a = 10
b = 20

print (a == b)
print (a != b)
print (a <= b)
print (a >= b)

a = 30
b = 30

print (a == b)
print (a <= b)
print (a >= b)

False
True
True
False
True
True
True

In [43]:
f = "faisal"
g = "ganteng"
h = "hantu"

print (f + g)
print ("gatau " + "bikin " + "apa")
print (f in "Faisal ganteng")
print (f in "faisal ganteng")
h * 3

faisalganteng
gatau bikin apa
False
True

'hantuhantuhantu'

In [46]:
a = "OiSHi nE"

print (a.capitalize())
print (a.lower())
print (a.swapcase())
print (a.title())
print (a.upper())

Oishi ne
oishi ne
oIshI Ne
Oishi Ne
OISHI NE

In [52]:
a = [1, 2, 3, 4, 5]
b = [6, "tujuh", 8.0, 9 ,"sepuluh"]

print (a)
print (b)
print (a == b)

[1, 2, 3, 4, 5]
[6, 'tujuh', 8.0, 9, 'sepuluh']
False

In [58]:
a = [1, 2, 3, 4, 5]

print (a[0])
print (a[-1])
print (a[2:4])

1
5
[3, 4]

In [61]:
a = [1, 2, 3, 4, 5]

print (a)
print (a + [6, 7, 8])
print (a * 2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [63]:
a = [1, 2, 3, 4, 5]

print (a)
print (len(a))
print (min(a))
print (max(a))

[1, 2, 3, 4, 5]
5
1
5

In [68]:
a = [1, 2, 3, 4, 5]

print (a)

a[0] = "satu"
a[4] = "lima"

print (a)

del a[0]

print (a)

[1, 2, 3, 4, 5]
['satu', 2, 3, 4, 'lima']
[2, 3, 4, 'lima']

In [71]:
t = (1, 2, 3, 4, 5)

print (t)
print (t[0])
print (t[-1])

(1, 2, 3, 4, 5)
1
5

In [74]:
(s1, s2, s3, s4) = ("foo", "bar", "baz", "qux")

print (s1)
print (s4)

foo
qux

In [79]:
valorant = {
    "duelist" : "faisal",
    "sentinel" : "fathur",
    "initiator" : "reza",
    "controller" : "duta"
}
print (valorant)
print (valorant["duelist"])
print (valorant["sentinel"])

valorant["controller"] = "vikrie"

print (valorant)

del valorant["initiator"]

print (valorant)

{'duelist': 'faisal', 'sentinel': 'fathur', 'initiator': 'reza', 'controller': 'duta'}
faisal
fathur
{'duelist': 'faisal', 'sentinel': 'fathur', 'initiator': 'reza', 'controller': 'vikrie'}
{'duelist': 'faisal', 'sentinel': 'fathur', 'controller': 'vikrie'}

In [93]:
person = {}

person ["nama"] = "faisal"
person ["umur"] = 20
person ["hobi"] = ["main game, badminton"]
person ["ortu"] = {"ayah" : "eko", "ibu" : "eli"}

print (person)
print (person["nama"])
print (person["hobi"])
print (person["ortu"]["ayah"])

{'nama': 'faisal', 'umur': 20, 'hobi': ['main game, badminton'], 'ortu': {'ayah': 'eko', 'ibu': 'eli'}}
faisal
['main game, badminton']
eko

In [94]:
d = {"a" : 10, "b" : 20, "c" : 30}

print (d.items())
print (d.keys())
print (d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])